*
*::before
*::after{
    box-sizing: border-box
}
:root {
    -ff-priamry:'Zilla Slab', serif;
    --ff-secondary: 'Zilla Slab',monospace;

    --fw-reg :300;
    --fw-bold:900;

    --clr-light: #ffff;
    
}